In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from nltk.corpus import stopwords
stop = stopwords.words('english')

#Load Data
train_data = pd.read_csv('../DATA/data.csv')

In [9]:
train_data.head()

  ArticleId                                               Text       Category
0        14  One man's claims that he scammed people on the...           TECH
1        18  Maury Wills who helped the Los Angeles Dodgers...         SPORTS
2        21  For the past 18 months Hollywood has effective...  ENTERTAINMENT
3        22  President issues vow as tensions with China rise.       POLITICS
4        25  An annual celebration took on a different feel...       POLITICS

In [10]:
print("NUMBER OF DATA POINTS -",train_data.shape[0])
print("NUMBER OF FEATURES -",train_data.shape[1])
print("FEATURES -",train_data.columns.values)

NUMBER OF DATA POINTS - 64351
NUMBER OF FEATURES - 3
FEATURES - ['ArticleId' 'Text' 'Category']

In [11]:
# Data Description using describe() in pandas
train_data.describe().style.set_properties(**{'background-color': '#F0F0F0', 'color': '#222222', 'border': '1.5px  solid black'})

In [12]:
# Data Description using info() in pandas
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64351 entries, 0 to 64350
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  64351 non-null  object
 1   Text       57023 non-null  object
 2   Category   64293 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [14]:
train_data.columns = ['id', 'Text', 'Category']
train_data = train_data.astype({'id': 'int64', 'Text': 'str', 'Category': 'str'})
train_data['Text_without_stopwords'] = train_data['Text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

ValueError: invalid literal for int() with base 10: ' including with a power line or oil rig -- will no longer violate federal law the Interior Department said in a ruling.'